body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 2em;
    color: Navy;
    margin-top: 1em;
}

h2{
    font-size: 1.8em;
    color: Navy;
}

nav ol{
    padding-inline-start: 0em;
    margin-block: 0em;
}

h1~p{
    background-color: lightyellow;
    padding: 0.5em;
    margin: 0.5em 0em 0.5em;
    border-radius: 1em;
}




nav li{
   display:inline;
   padding: 0.4em 1em 0.4em;
   background-color: #AAB;
}


nav li a{
    padding: 0.4em 0.8em 0.4em;
    background-color: #CCD;
    color: blue;
    text-decoration: none;

}

nav li a:hover{
    background-color: yellow;
}